[submodule "lib/solarized"]
	path = lib/solarized
	url = git://github.com/altercation/solarized.git
[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "lib/vimbundles/command-t"]
	path = lib/vimbundles/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "lib/vimbundles/nerdtree"]
	path = lib/vimbundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "lib/vimbundles/vim-surround"]
	path = lib/vimbundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "lib/irssi-colors-solarized"]
	path = lib/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "lib/vimbundles/vim-scala"]
	path = lib/vimbundles/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "lib/vimbundles/autotag"]
	path = lib/vimbundles/autotag
	url = https://github.com/marcus/autotag.vim
[submodule "lib/vimbundles/tagbar"]
	path = lib/vimbundles/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "lib/urxvt-perls"]
	path = lib/urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git
