xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
config/chromium
vim/view
vim/.netrwhist
config/spotify
config/Trolltech.conf
config/dconf
config/libreoffice
config/vlc
config/geeqie
config/ipython
config/Mendeley Ltd.
config/Skype
config/calibre
config/evince
config/menus
config/transmission
config/xfce4
config/yelp
fonts/*
!fonts/mensch.ttf
