[submodule "lib/solarized"]
	path = lib/solarized
	url = git://github.com/altercation/solarized.git
[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "lib/vimbundles/command-t/vendor/vimball"]
	path = lib/vimbundles/command-t/vendor/vimball
	url = git://github.com/tomtom/vimball.rb.git
[submodule "lib/vimbundles/command-t/vendor/vimscriptuploader"]
	path = lib/vimbundles/command-t/vendor/vimscriptuploader
	url = git://github.com/tomtom/vimscriptuploader.rb.git
[submodule "lib/vimbundles/nerdtree"]
	path = lib/vimbundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "lib/vimbundles/vim-surround"]
	path = lib/vimbundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "lib/irssi-colors-solarized"]
	path = lib/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "lib/vimbundles/vim-scala"]
	path = lib/vimbundles/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "lib/vimbundles/autotag"]
	path = lib/vimbundles/autotag
	url = https://github.com/marcus/autotag.vim
[submodule "lib/vimbundles/tagbar"]
	path = lib/vimbundles/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "lib/vimbundles/hardmode"]
	path = lib/vimbundles/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "lib/vimbundles/ctrlp.vim"]
	path = lib/vimbundles/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "lib/vimbundles/Align"]
	path = lib/vimbundles/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "lib/vimbundles/delimitMate.vi"]
	path = lib/vimbundles/delimitMate.vi
	url = git://github.com/vim-scripts/delimitMate.vim.git
[submodule "lib/vimbundles/vim-endwise"]
	path = lib/vimbundles/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "lib/vimbundles/gist-vim"]
	path = lib/vimbundles/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "lib/vimbundles/RltvNmbr.vim"]
	path = lib/vimbundles/RltvNmbr.vim
	url = git://github.com/vim-scripts/RltvNmbr.vim.git
[submodule "lib/vimbundles/webapi-vim"]
	path = lib/vimbundles/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "lib/vimbundles/ack.vim"]
	path = lib/vimbundles/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "lib/vimbundles/evervim"]
	path = lib/vimbundles/evervim
	url = git@github.com:kakkyz81/evervim.git
[submodule "lib/vimbundles/vim-ipython"]
	path = lib/vimbundles/vim-ipython
	url = git@github.com:ivanov/vim-ipython.git
[submodule "lib/vimbundles/supertab"]
	path = lib/vimbundles/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "lib/vimbundles/typescript-vim"]
	path = lib/vimbundles/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "lib/vimbundles/mustache"]
	path = lib/vimbundles/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "lib/vimbundles/vim-commentary"]
	path = lib/vimbundles/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "lib/vimbundles/vim-gitgutter"]
	path = lib/vimbundles/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
